* { 
    box-sizing: border-box; 
}
:root {
    --round_corners: 15px;
    --shadows: -54px 54px 56px rgba(0,0,0,0.16);
}

html {
    padding: 0;
    margin: 0;
    background-color: rgb(241, 241, 241);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    width: auto;
    padding: 3% 0%;
    border-bottom: 2px solid coral;
}

h1 {
    font-size: 3em;
    margin: 3px;
}

a:hover {
    padding: 9px 0%;
    transition-property: all;
    animation-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
    filter: blur(3px);
}

strong {
    font-size: 25px;
    border-bottom: 3px dashed coral;
}

ul {
    list-style: none;
    padding: 1%;
}

#wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* padding: 1% 0.5% 0% 0.5%; */
}

/* Хедер ______________________________________________________________*/
#header {
    display: flex;
    flex-flow: row wrap;
    padding: 2%;
    height: 30vh;
    justify-content: space-between;
    align-items: row-start;
    background: url(https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat;
    background-size: cover;
    background-position: bottom;

}

/* лого и поиск________________________ */
#logo_search_block {
    
    flex: 1 0 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
}

#logo{
    height: 40px;
    width: auto;
    background-color: coral;
}

#search form {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#search form input {
    background-color: black;
    color: white;
    height: 40px;
    flex: 2 1;
    padding: 10px;
    display: flex;
    border: none;
    margin: 1.5px 1.5px;
    box-shadow: var(--shadows);

}

#search form input:focus {
    background-color: white;
    color: black;
    border: rgb(235, 235, 235);
    outline: none;
}
#search form button {
    margin: 1.5px 1.5px;
    display: flex; 
    border: none;
    justify-content: center;
    flex: 1 1;
    height: 40px;
    padding: 10px 30px ;
    background-color: coral;
}

#search form button:hover {
    background-color: white;
    transition: all ease-in-out 0.2s;
    transition-delay: 0.3;
}
#search form button:focus {
    background-color: black;

}

/* топменю______________________________ */
#menu {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 0;
    margin-bottom: 5%;
    background-color: white;
    box-shadow: var(--shadows)

}
.fa-phone {
    font-size: 22px;
    padding: 8px;
    color: coral;
    line-height: 0;
    border: 3px solid silver;
    border-radius: 100px;
    margin-right: 10px;
    
}

#tel {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: 3% 4%;
}


#menu ul {
    width: 70%;
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    flex: 1 1 auto;
}

#menu li {
    margin: 5%;
}


/* Тело с итемами______________________________________________________ */
#main-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: auto;
    align-content: center;
    align-items: flex-start;
}

#left-menu {
    display: flex;
    height: 40vh;
    width: 30%;
    min-width: 300px;
    margin: 0 auto;
}

#left-menu ul {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;


}

.fa-search {
    margin-left: 10px;
    margin-top: 3px;

}

#items-block {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: stretch;
    align-content: center;
    width: 70%;
    margin: 0 auto;
}

.item {
    background-color: rgb(255, 255, 255);
    margin: 10px 5px;
    display: flex;
    flex: 1 0 20px;
    min-width: 250px; 
    flex-flow: column wrap;
    justify-content: baseline;
    padding-bottom: 3%;
}

.item p, h2{
    margin: 0 10%;
}

.img-block {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    align-content: flex-start;
    margin-bottom: 5%;
} 

.item p {
    text-align: justify;
    margin-top: 5%;
}

.img-block {
    width: 100%;
    overflow: hidden;
    align-content: flex-start;
}

.img-block img {
    width: 140%;
    height: auto;

}

 /* Футтер__________________________________________________________________ */
#footer {
    display: flex;
    background-color: black;
    height: 15vh;
    color: coral;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 5%;
}

#footer h3 {
    display: flex;
    width: 50%;
}

@media screen and (max-width: 667px) {
    #left-menu {
        display: none;
    }
    strong, .fa-phone {
        font-size: 16px;
    }
    h1 {
        font-size: 2em;
    }
    #description {
        font-size: 12px;
        display: none;
    }
    #menu ul {
        flex-direction: column;
        align-content: center;
        align-items: center; 
    }
}